@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&family=Old+Standard+TT:wght@400;700&family=Poppins:wght@100;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800;900&display=swap');

@import './face_fontes.scss';

$Roboto:'Roboto',
sans-serif;
$Lato:'Lato',
sans-serif;
$RobotoSlab:'Roboto Slab',
serif;
$Popp:'Poppins',
sans-serif;
$Mont:'Montserrat',
sans-serif;
$Titi:'Titillium Web',
sans-serif;
$San: 'Sen',
sans-serif;
$Play:'Playfair Display SC',
serif;
$Alegrya:'Alegreya Sans SC',
sans-serif;
$Old:'Old Standard TT',
serif;

//   NEWS FONTES
$Untittled:'untitled';
$Assac:'assac';


