@import './colors/palletestwo';
@import './fonts';
@import './btn/btn';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 18px/1.3 $San;

}

html,
body {
    height: 100%;
}

body {

    line-height: 1;
    background: rgb(2, 2, 7);
    color: rgb(236, 207, 250);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Popp;
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1em;
}

p {
    display: block;

}

a {
    text-decoration: none;
    outline: none
}

button {
    outline: none
}