@import './colors/palletestwo';
@import './btn/btn';

@import './face_fontes.scss';

/* Box sizing rules */

:root{
    --FontPrimary:"Avenir";
    --FontSecondary:'untitled';

}


*,
*::before,
*::after {
    font-size: 70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: var(--FontPrimary);
    font-weight:400;
    
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display:flex;
    background: #000000;
    color: #EDEDE9;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

}




.container{
    padding:0 6em;
    text-align: center;
    font-size: 3rem;

    p{
        max-width:28em;
        margin: 1em auto;
    }
}









h1,h2{
    
    line-height: 0.8em;
         font-family: var(--FontSecondary);
}




h1{
    font-size: 12rem;
}
h2{
    font-weight: 500;
}




/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}


/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */

a {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}