




/*untitled  Regular*/
@font-face {
  font-family: 'untitled';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('/assets/fontes/Untitled/Sans/untitled-sans-test-regular.woff') format('woff2');
 
}


/*untitled  Medium */
@font-face {
    font-family: 'untitled';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url('/assets/fontes/Untitled/Sans/untitled-sans-test-medium.woff') format('woff2');
   
  }



  /*untitled  Bold */
@font-face {
  font-family: 'untitled';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('/assets/fontes/Untitled/Sans/untitled-sans-test-bold.woff') format('woff2');
 
}



// ---------------------------------------------------------------------------------------------------------



// ASSAC




  /*untitled  Bold */
  @font-face {
    font-family: 'assac';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url('/assets/fontes/assc.ttf') format('woff2');
   
  }





  
// Avenir




  /*Avenir  REGULAR */
  @font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url('/assets/fontes/Avenir/Metropolis-Regular.otf') format('woff2');
   
  }

  /*Avenir  REGULAR */
  @font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:  url('/assets/fontes/Avenir/Metropolis-Medium.otf') format('woff2');
    
  }
  
  
  /*Avenir  REGULAR */
  @font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:  url('/assets/fontes/Avenir/Metropolis-Bold.otf') format('woff2');
  }